<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Centre Proméo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/light/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/dark/style.css') }}" disabled>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <script src="{{ url_for('static', filename='scripts/index.js') }}" defer></script>
    
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.10/index.global.min.js'></script>

</head>

<body>
    <div class="background-image"></div>
    <header>
        <img src="../static/style/images/download.png" alt="Logo" class="logo">
        <h1>Centre de Formation Proméo</h1>

        <div class="flipswitch">
            <input type="checkbox" name="flipswitch" class="flipswitch-cb" id="fs" checked>
            <label class="flipswitch-label" for="fs">
                <div class="flipswitch-inner"></div>
                <div class="flipswitch-switch"></div>
            </label>
        </div>

    </header>

    

    <div id="accueil" class="page">
 
        <h2>Accueil</h2>
        <p>Bienvenue sur l'outil gestion administrateur de votre doodle!</p>

    </div>    
            <div id="cadre">
            <h2>Espace administrateur</h2>
            <div id="error-message" style="color: red;"></div>
            <form id="connexionForm" action="/adminok" method="POST">
                <div class="form-group" class="page">
                    <label for="email">Email :</label>
                    <input type="email" id="emailConnexion" name="emailConnexion" placeholder="entrez votre email"
                        required>
                </div>
                <div class="form-group" class="page">
                    <label for="password">Mot de passe :</label>
                    <input type="password" id="password" name="password" placeholder="entrez votre mot de passe"
                        required>
                </div>
                <button type="submit">Se connecter</button>
            </form>
        </div>


</body>

</html>


